<ol class="breadcrumb">
  <li>Programs</li>
</ol>
<h2>
  Programs
</h2>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-3 col-sm-2 col-xl-1">
        <button class="btn btn-success text-right"
                type="button"
                title="add"
                (click)="goToNew()">
          <span class="glyphicon glyphicon-plus"></span>&nbsp;
        </button>
      </th>
      <th class="">Name</th>
      <th class="">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let program of programs">
      <td>
        <button class="btn btn-primary text-right"
                type="button"
                title="edit"
                (click)="goToDetail(program)">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
        </button>
        <button class="btn btn-danger text-right" type="button" title="delete">
          <span class="glyphicon glyphicon-trash"></span>&nbsp;
        </button>
      </td>
      <td>
        {{program.name}}
      </td>
      <td>
        {{program.getRunningTime()}} mins
      </td>
    </tr>
  </tbody>
</table>