<ol class="breadcrumb">
  <li>Programs</li>
</ol>
<h2>
  Programs
</h2>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-4 col-sm-3 col-xl-2">
        <a class="btn btn-success text-right"
                type="button"
                title="add"
                routerLink="/sprinkler/programs/new">
          &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
        </a>
      </th>
      <th class="">Name</th>
      <th class="">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let program of programs">
      <td>
        <a class="btn btn-default text-right"
                type="button"
                title="edit"
                routerLink="/sprinkler/programs/{{program.programId}}">
          &nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;
        </a>
        <button class="btn btn-danger text-right"
                type="button"
                title="delete"
                (click)="deleteProgram(program)">
          &nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;
        </button>
        <button class="btn btn-primary text-right"
                type="button"
                title="start"
                (click)="startProgram(program)">
          &nbsp;<span class="glyphicon glyphicon-play"></span>&nbsp;
        </button>
      </td>
      <td>
        {{program.name}}
      </td>
      <td>
        {{program.totalMinutes}} mins
      </td>
    </tr>
  </tbody>
</table>