<ol class="breadcrumb">
  <li><a routerLink="/sprinkler/programs">Programs</a></li>
  <li *ngIf="program">{{program.name}}</li>
</ol>
<div *ngIf="program">
  <h2>
    <button class="btn btn-primary text-right pull-right"
            type="button"
            title="save"
            (click)="save()">
      &nbsp;<span class="glyphicon glyphicon-save"></span> Save
    </button>
    Edit Program
  </h2>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="programName">Name</label>
        <input id="programName"
               class="form-control"
               type="text"
               placeholder="Name"
               [(ngModel)]="program.name">
      </div>
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th class="col-xs-1">
                <button class="btn btn-sm btn-success text-right"
                        type="button"
                        title="add"
                        (click)="addStage()">
                  &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
                </button>
              </th>
              <th class="col-xs-7">Zone</th>
              <th class="col-xs-3">Minutes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stage of program.stages">
              <td>
                <button class="btn btn-sm btn-danger text-right"
                        type="button"
                        title="remove"
                        (click)="removeStage(stage)">
                  &nbsp;<span class="glyphicon glyphicon-minus"></span>&nbsp;
                </button>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="stage.zoneId">
                  <option *ngFor="let zone of zones"
                          value="{{zone.zoneId}}">{{zone.name}}</option>
                </select>
              </td>
              <td>
                <input type="number"
                       class="form-control"
                       [(ngModel)]="stage.minutes"/>
              </td>
            </tr>
          </tbody>
        </table>
        <p>Duration: {{getRunningTime()}} mins</p>
      </div>
      <div *ngFor="let schedule of schedules">
        <div class="form-group">
          <label>
              Auto-Run
          </label>
          <select class="form-control" [(ngModel)]="schedule.model.scheduleType">
            <option *ngFor="let programScheduleType of programScheduleTypes"
                    value="{{programScheduleType.value}}">
                    {{programScheduleType.display}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="startTime">Time</label>
          <timepicker id="startTime"
                      [(ngModel)]="startTime"
                      (change)="startTimeChanged()"
                      [showMeridian]="false"
                      [showSpinners]="false">
          </timepicker>
        </div>
        <div class="form-group">
          <label>Day Selection</label>
          <div class="checkbox"><label><input type="checkbox" [(ngModel)]="schedule.model.monday">Monday</label></div>
          <div class="checkbox"><label><input type="checkbox" [(ngModel)]="schedule.model.tuesday">Tuesday</label></div>
          <div class="checkbox"><label><input type="checkbox" [(ngModel)]="schedule.model.wednesday">Wednesday</label></div>
          <div class="checkbox"><label><input type="checkbox" [(ngModel)]="schedule.model.thursday">Thursday</label></div>
          <div class="checkbox"><label><input type="checkbox" [(ngModel)]="schedule.model.friday">Friday</label></div>
          <div class="checkbox"><label><input type="checkbox" [(ngModel)]="schedule.model.saturday">Saturday</label></div>
          <div class="checkbox"><label><input type="checkbox" [(ngModel)]="schedule.model.sunday">Sunday</label></div>
        </div>
      </div>
    </div>
  </div>
</div>
