<ol class="breadcrumb">
  <li><a routerLink="/sprinkler/programs">Programs</a></li>
  <li *ngIf="program">{{program.name}}</li>
</ol>
<div *ngIf="program">
  <h2>
    <button class="btn btn-primary text-right pull-right"
            type="button"
            title="save"
            (click)="save()">
      &nbsp;<span class="glyphicon glyphicon-save"></span> Save
    </button>
    Edit Program
  </h2>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="programName">Name</label>
        <input id="programName"
               class="form-control"
               type="text"
               placeholder="Name"
               [(ngModel)]="program.name">
      </div>
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th class="col-xs-1">
                <button class="btn btn-sm btn-success text-right"
                        type="button"
                        title="add"
                        (click)="addSchedule()">
                  &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
                </button>
              </th>
              <th class="col-xs-7">Schedule</th>
              <th class="col-xs-3">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="schedules.length == 0" colspan="3" class="text-center">
                <i>Manual Operation Only</i>
              </td>
            </tr>
            <tr *ngFor="let schedule of schedules">
              <td>
                <button class="btn btn-sm btn-danger text-right"
                        type="button"
                        title="remove"
                        (click)="removeSchedule(schedule)">
                  &nbsp;<span class="glyphicon glyphicon-minus"></span>&nbsp;
                </button>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="schedule.model.scheduleType">
                  <option *ngFor="let programScheduleType of programScheduleTypes"
                          value="{{programScheduleType.value}}">
                          {{programScheduleType.display}}
                  </option>
                </select>
              </td>
              <td>
                <timepicker id="startTime"
                            [(ngModel)]="schedule.startTime"
                            (change)="schedule.startTimeChanged()"
                            [showMeridian]="false"
                            [showSpinners]="false">
                </timepicker>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th class="col-xs-1">
                <button class="btn btn-sm btn-success text-right"
                        type="button"
                        title="add"
                        (click)="addStage()">
                  &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;
                </button>
              </th>
              <th class="col-xs-7">Zone</th>
              <th class="col-xs-3">Minutes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stage of program.stages">
              <td>
                <button class="btn btn-sm btn-danger text-right"
                        type="button"
                        title="remove"
                        (click)="removeStage(stage)">
                  &nbsp;<span class="glyphicon glyphicon-minus"></span>&nbsp;
                </button>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="stage.zoneId">
                  <option *ngFor="let zone of zones"
                          value="{{zone.zoneId}}">{{zone.name}}</option>
                </select>
              </td>
              <td>
                <input type="number"
                       class="form-control"
                       [(ngModel)]="stage.minutes"/>
              </td>
            </tr>
          </tbody>
        </table>
        <p>Duration: {{getRunningTime()}} mins</p>
      </div>
    </div>
  </div>
</div>
